.item {
    text-decoration: none;/* ลบเส้นใต้ */
    color: inherit;
    font-size: 1.2rem;
} 
.item:hover {
    transform: translate3d(-4px, -4px, 0);
    transition: 0.3s;
}

@keyframes fadeInScaleUp {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.header-image {
  width: 100%;
  height: auto;
  animation: fadeInScaleUp 1.5s ease-out forwards;
}



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.service {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}


.from {
  box-shadow: 3px 3px 15px rgba(0,0,0, 5), 13px 13px 15px rgba(256,256,256, 3);

  
 max-width: 600px;
 padding: 10px;
 margin: 10px;
 margin: auto;
 margin-top: 150px;
 height: 400px;
 border-radius: 25px;
 text-align: center;
}

/* styles/About.module.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  color: #333;
}

p, ul {
  line-height: 1.6;
}

li {
  margin-bottom: 10px;
}



.login {
  max-width: 400px;
  box-shadow: 3px 3px 15px rgba(0,0,0, 5), 13px 13px 15px rgba(256,256,256, 3);
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  height: 400px;
  padding: 15px;
}



header {
  height: 650px;
}

@media screen and (max-width: 480px) {
  header {
    height: 200px;
    overflow: hidden;
  }
}


